# UPDATE .env.example AND CODESPACES SECRETS WHEN CHANGING .env KEYS
# https://github.com/Tasktix/Tasktix/settings/secrets/codespaces
# ##########################################################
DB_DATABASE=tasktix
DB_PASSWORD=password
BETTER_AUTH_SECRET=WWpsI0JhLD96Zzd1NzJGb0UyfnFteX4=OEArelxVYGFzRUMhUTdhLy5DaHRMTyI=cH1UT1gwWHY7aVcgcWNKLztFeEAmUSA=QnY9QydsLW8pa1dmck8ucn5AQ31zJE8=YiRAO1lyTj4pSnBKVGV3QXMzdi1JNVg=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of APP
ENABLE_PASSWORD_STRENGTH_CHECK=true
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
# ##########################################################
# UPDATE .env.example AND CODESPACES SECRETS WHEN CHANGING .env KEYS
